extends _layouts/master

append header-meta
  base(href='/')

append header-title
  | IO TimeStamp-Peek

append header-stylesheets
  style.
    .right .github-fork-ribbon { background-color: #333; }
append body-ng-controller
  - controller_name = 'TimeStamp_Controller as tsc';

append body-title
  h4 Angular Directive to show timestamp on hover

append body-content
  .row
    .col-md-12
      table.table.table-bordered
        thead
          tr.bolder
            td Value
            td Timepeek
        tbody
          tr(data-ng-repeat='date in tsc.sampleData')
            td.width-60 {{::date}}
            td.width-60
              iotimestamppeek(value="date")
          tr
            td.width-60 Custom Error Label
            td.width-60
              iotimestamppeek(value="gibberish", invalid-label="Stop that right meow")
          tr
            td.width-60 Exact View
            td.width-60
              iotimestamppeek(value="1420564747992", default-view='exact')
          tr
            td.width-60 Formatted Exact Date
            td.width-60
              iotimestamppeek(value="1220618447614", default-view='exact', format='MM/DD/YYYY')
  .row
    .col-md-12
      h3 Usage:
      pre.code
        | &lt;iotimestamppeek value="date"/>
      h4 Attributes:
      table.table.table-bordered
        thead
          tr.bolder
            td Attribute
            td Required
            td Value
        tbody
          tr
            td value
            td.width-60 true
            td The js Date parsable value to display
          tr
            td invalid-label
            td.width-60 false
            td Defaults to moments current locale 'Invalid Date' message. Only displayed if an invalid 'value' is used.
          tr
            td default-view
            td.width-60 false
            td [<i>relative</i> | exact] Set to 'exact' to show the exact time first
          tr
            td format
            td.width-60 false
            td The format to use onthe exact date. (ex/ 'MM/DD/YYYY')